#textareaScroll::-webkit-scrollbar {
  width: 4px;
  border-radius: 8px;
  overflow-y: auto;
}

#textareaScroll::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 8px;
}

#textareaScroll::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

#modalScroll::-webkit-scrollbar {
  width: 4px;
}

#modalScroll::-webkit-scrollbar-thumb {
  background: #64748b;
}

#modalScroll::-webkit-scrollbar-thumb:hover {
  background: #334155;
}