@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

/* Ocultar o spinner do NProgress */
#nprogress .spinner {
  display: none !important;
}

/* Personalizar a cor da barra de progresso */
#nprogress .bar {
  background: #212529;
}