/* Horizontal scroll of modals */

#modalScroll::-webkit-scrollbar {
  width: 6px;
}

#modalScroll::-webkit-scrollbar-thumb {
  background: #e2e8f0;
}

#modalScroll::-webkit-scrollbar-thumb:hover {
  background: #ced4da;
}